.center {
  width: 50%;
  margin: 0 auto;
}

.box {
  padding: 50px 10px 10px;
}

.box p {
  color: #242424;
  font-size: 24px;
  font-weight: 100;
  margin-left: 0px;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 20px;
  max-height: 200px;
}
.button {
  display: inline-block;
  width: 50%;
}