  .box {
    width: 50%;
    padding: 10px;
    padding-top: 50px;
  }
  .box p {
    font-size: 24px;
    font-weight: 100;
    margin-left: 0px; 
    word-wrap: break-word;
    margin-bottom: 20px;
  }
  .box_pass_flex {
    display: flex;
    justify-content: space-around;
  }
  .box_pass {
    width: 47%;
    margin: 5px;
  }
  .box_pass h5 {
    margin: 0px;
  }
  .button {
    display: block;
    float: left;
    text-align: center;
    margin-top: 30px;
  }
  .info {
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 20px;
    max-height: 200px;
  }
  
